body {
    text-align: center;
    color:rgb(21, 36, 104);
    background-color:bisque;
    font-weight: bolder;
}

h1 {
    font-size: 60px;
}

div {
    font-size: 50px;
    border: 1px solid lightgray;
    padding: 30px;
    margin: 30px;
}

button, input, div, label, p {
    border-radius: 25px;
    border: 1px solid lightgray;
}

#divCirclesId_1, #divCirclesId_2, #divCirclesId_3, #divOutForTask_1, #divOutForTask_2, #divOutForTask_3, #divOutForTask_4 {
    font-size: 17px;
}

#divOutEnteredCircles, #divOuMultiplyTable {
    font-size: 17px;
}

.loremSpanBlock {
    display: block;
}

.loremDivContainer, .primer, #divOutLorem_1 {
    font-size: 17px;
}

.p_1 {
    background-color: blueviolet;
}

.p_2 {
    background-color: orange;
}

.p_3 {
    border: 3px solid lightgray;
}

